<!DOCTYPE html>
<html ng-app="translateApp">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
</head>
<body ng-controller="translateTroller">
<!-- NAV -->
	<ul class="nav nav-pills nav-justified">
	  <li class="nav-item">
	    <a class="nav-link active" href="/">Translate</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/quiz">Quiz</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Progress</a>
	  </li>
	</ul> <!-- END NAV -->
	<div class="container">
		<div class="row col-sm-6">
		<h3>What Language Would You Like To Study?</h3>
			<form class="form-group">
			<select ng-options="codes.id as codes.language for codes in languageCodes track by codes.id" class="form-control initLang"  ng-model="translateText.fromLang">
			</select>
			<button type="submit" class="btn btn-info">Use This Language</button>
			</form>
		</div>
	</div>
	<div class="container">
		<form class="form-horizontal" ng-submit="submitQuiz(words)">
			<div class="form-group">
				<label class="col-sm-6 control-label" ng-repeat="words in quizWords">{{words.word}}
					<input type="text" class="form-control" placeholder="Answer Here" ng-model="translateText.quizToLang">
				</label>
				<p>{{TranslatedText}}</p>
			</div>

<!-- 				<label class="col-sm-2 control-label">2. Discuss</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Answer Here" ng-model="translateText.quizToLang2">
				</div>
				<label class="col-sm-2 control-label">3. Code</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Answer Here" ng-model="translateText.quizToLang3">
				</div>
				<label class="col-sm-2 control-label">4. Stupid</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Answer Here" ng-model="translateText.quizToLang4">
				</div>
				<label class="col-sm-2 control-label">5. Defer</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Answer Here" ng-model="translateText.quizToLang5">
				</div>
				<label class="col-sm-2 control-label">6. Zealous</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Answer Here" ng-model="translateText.quizToLang6">
				</div>
				<label class="col-sm-2 control-label">7. Tact</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Answer Here" ng-model="translateText.quizToLang7">
				</div>
				<label class="col-sm-2 control-label">8. Frustrate</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Answer Here" ng-model="translateText.quizToLang8">
				</div>
				<label class="col-sm-2 control-label">9. Turtle</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Answer Here" ng-model="translateText.quizToLang9">
				</div>
				<label class="col-sm-2 control-label">10. Lingo</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Answer Here" ng-model="translateText.quizToLang10"> -->
				<button type="button" class="btn btn-success">Submit</button>
			</div>
		</form>
	</div>
</body>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
	<script type="text/javascript" src="../js/translateApp.js"></script>
	<script type="text/javascript" src="../js/translateApp.Factory.js"></script>
	<script type="text/javascript" src="../js/translateApp.Troller.js"></script>
</html>